@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title>Formulário de Cliente</title>
    </head>
    <body>
        <form id="form1" runat="server">
            <div>
                <div>
                    <label for="Nome">Nome:</label>
                    <input type="text" id="Nome" name="Nome" runat="server" />
                </div>
                <div>
                    <label for="Email">Email:</label>
                    <input type="email" id="Email" name="Email" runat="server" />
                </div>
                <div>
                    <label for="Telefone">Telefone:</label>
                    <input type="tel" id="Telefone" name="Telefone" runat="server" />
                </div>
                <div>
                    <label for="Cidade">Cidade:</label>
                    <input type="text" id="Cidade" name="Cidade" runat="server" />
                </div>
                <div>
                    <input type="submit" value="Enviar" />
                </div>
            </div>
        </form>
    </body>
    </html>
}

 

<!--
    Crie um formulario para receber:
    O nome
    O email
    O telefone
    A cidade do cliente

    Não se esqueça de adicionar o menu Cliente na página




-->

